<form action="/admin/config" method="post">
  <div class="form-group">
    <label for="bot_token">Token</label>
    <input type="text" class="form-control" name="bot_token" id="bot_token"/>
  </div>
  <div class="form-group">
    <label for="client_id">Client ID</label>
    <input type="text" class="form-control" name="client_id" id="client_id"/>
  </div>
  <div class="form-group">
    <label for="bot_prefix">Prefix</label>
    <input type="text" class="form-control" name="bot_prefix" id="bot_prefix"/>
  </div>
  <input type="submit" class="btn btn-primary"/>
</form>
